@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 20% 98%; /* Lighter very light gray */
    --foreground: 280 10% 15%; /* Dark Purple */
    --card: 220 20% 100%;
    --card-foreground: 280 10% 15%;
    --popover: 220 20% 100%;
    --popover-foreground: 280 10% 15%;
    --primary: 283 60% 30%; /* #611e79 */
    --primary-foreground: 0 0% 98%;
    --secondary: 293 45% 25%; /* #53235a */
    --secondary-foreground: 0 0% 98%;
    --muted: 220 20% 95%;
    --muted-foreground: 280 10% 40%;
    --accent: 308 100% 43%; /* #db00be */
    --accent-foreground: 0 0% 98%;
    --destructive: 341 100% 64%; /* #f50056 */
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 90%;
    --input: 220 20% 90%;
    --ring: 203 91% 55%; /* #24a5f5 */
    --chart-1: 283 60% 30%;
    --chart-2: 293 45% 25%;
    --chart-3: 278 52% 53%;
    --chart-4: 308 100% 43%;
    --chart-5: 326 100% 45%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 280 10% 10%; /* Dark Purple-Gray */
    --foreground: 0 0% 98%;
    --card: 280 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 280 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 283 60% 45%; /* #611e79 */
    --primary-foreground: 0 0% 98%;
    --secondary: 293 45% 35%; /* #53235a */
    --secondary-foreground: 0 0% 98%;
    --muted: 280 10% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 308 100% 53%; /* #db00be */
    --accent-foreground: 0 0% 98%;
    --destructive: 341 100% 64%; /* #f50056 */
    --destructive-foreground: 0 0% 98%;
    --border: 280 10% 20%;
    --input: 280 10% 20%;
    --ring: 203 91% 55%; /* #24a5f5 */
    --chart-1: 283 60% 45%;
    --chart-2: 293 45% 35%;
    --chart-3: 278 52% 53%;
    --chart-4: 308 100% 53%;
    --chart-5: 326 100% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
